<link rel="stylesheet" href="/form.css">
<img src="/Current Cisco Logo.png" style="display: block;margin-left:auto;margin-right:auto "></img>
<h1>Editing Switch: <%= @switch.mac_add %></h1>

<%= render 'editform' %>

<%= link_to 'Show', @switch %> |
<%= link_to 'Back', switches_path %>
