<link rel="stylesheet" href="/form.css">
<img src="/Current Cisco Logo.png" style="display: block;margin-left:auto;margin-right:auto "></img>
<h1>Config file for Switch: <%= @switch.id %></h1>

<%= render 'configform' %>

<%= link_to 'Back', switches_path %>
